*{margin: 0; padding: 0; box-sizing: border-box;}
img{
  display: block;
  max-width: 100%;
  min-width: 100px;

}
$roxo-escuro: #2D1935;
$roxo-claro: #A76EB2;
$branco: #F9F8F8;
$fonte1: 'Oleo Script', cursive;
$fonte2: 'Open Sans', sans-serif;

@function em($px, $contexto: 16){
  @return ($px / $contexto) * 1em;
}

@mixin mobi {
  @media only screen and (max-width: 700px){
    @content
  }
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include mobi{
    max-width: 100%;
    padding: 0 10px;
    justify-content: space-around;
  }
}

.header{
  position: fixed;
  width: 100%;
  padding: 10px 0;
  background-color: $roxo-escuro;
  z-index: 100;
}
.header .container{
  justify-content: space-between;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul{
  list-style: none;
  @include mobi{
    position: fixed;
    top: 51px;
    left: -100%;
    background-color: $roxo-escuro;
    width: 70%;
    height: 100vh;
    text-align: center;
    transition: .3s;
  }
}

.menu li{
  display: inline-block;
  @include mobi{
    display: block;
    padding: 20px 0;
  }
}
.menu a{
  text-decoration: none;
  color: $roxo-claro;
  font-family: $fonte2;
  padding: 10px 15px;
  position: relative;
  @include mobi{
    padding: 20px 50px;
  }
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    left: 0;
    width: 3px;
    height: 0;
    background-color: currentColor;
    transition: all .3s ease;
  }
  &:hover::after{
    height: 100%;
  }
}

.label-mobi{
  display: none;
  @include mobi{
    margin-right: 10px;
    display: block;
  }
}

.barra{
  width: 20px;
  height: 4px;
  background-color: $roxo-claro;
  transition: .3s;
}

.menu-mobi{
  position: relative;
  &::before, &::after{
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    background-color: $roxo-claro;
    transition: .3s;
  }
  &::before{
    top: -10px;
  }
  &::after{
    bottom: -10px;
  }
}
#check{
  display: none;
  &:checked ~ .label-mobi .menu-mobi .barra{
    transform: translateX(-20px);
    opacity: 0;
  }
  &:checked ~ .label-mobi .menu-mobi::before{
    top: 0;
    transform: rotate(45deg);
  }
  &:checked ~ .label-mobi .menu-mobi::after{
    bottom: 0;
    transform: rotate(315deg);
  }
  &:checked ~ ul{
    left: 0;
  }
}

// intro
.intro{
  padding: 170px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/final/bg-intro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $branco;
  position: relative;
}
.intro-conteudo h1{
  font-family: $fonte1;
  font-size: em(72);
  &::after{
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    margin: 0 auto;
    background-color: currentColor;
    margin-bottom: 20px;
  }
  @include mobi(){
    font-size: em(40);
  }
}

.intro-conteudo p{
  font-family: $fonte2;
  font-weight: bold;
  font-size: em(24);
  @include mobi(){
    font-size: em(16);
    padding: 0 10px;
  }
}

.btn{
  padding: 10px 50px;
  border: 3px solid $roxo-escuro;
  background-color: transparent;
  margin-top: 50px;
  color: $branco;
  font-family: $fonte1;
  text-decoration: none;
  font-size: em(20);
  cursor: pointer;
  transition: .3s;
  &:hover{
    background-color: $roxo-escuro;
  }
  @include mobi(){
    font-size: em(16);
  }
}
.intro-horario{
  position: absolute;
  bottom: 10px;
  display: block;
  font-family: $fonte2;
  font-weight: bold;
  font-size: em(18);
  @include mobi(){
    font-size: em(14);
  }
}


//sobre
.sobre{
  padding: 100px 0;
}

.sobre-imgs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 490px;
  @include mobi{
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}
.sobre-imgs img:nth-child(2){
  margin: 0 20px;
}

.sobre-txt{
  max-width: 490px;
  @include mobi{
    width: 100%;
    padding: 0 10px;
  }
}
.sobre-txt h2{
  font-family: $fonte1;
  font-size: em(36);
  color: $roxo-claro;
  margin-bottom: 20px;
}
.sobre-txt p{
  font-family: $fonte2;
  font-size: em(18);
  color: $roxo-escuro;
  line-height: em(30, 18);
}

//bolos
.bolos{
  padding: 100px 0;
text-align: center;
background-color: $roxo-claro;
}

.bolos h2{
  font-family: $fonte1;
  color: $roxo-escuro;
  font-size: em(36);
  margin-bottom: 40px;
}

.bolos1, .bolos2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include mobi{
    justify-content: space-around;
  }
}

.doisbolos div{
  max-width: 320px;
  border: 4px solid $roxo-escuro;
  margin: 20px 20px 20px 0;
  overflow: hidden;
}

.bologrande{
  max-width: 660px;
  border: 4px solid $roxo-escuro;
}

.bolos2 div{
  max-width: 489px;
  border: 4px solid $roxo-escuro;
}
.bolos2 div:first-child{
  margin: 0 20px 0 0;
  @include mobi{
    margin: 20px 0;
  }
}
