*{margin: 0; padding: 0;}

@mixin mobi {
  @media only screen and (max-width: 700px){
    @content
  }
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobi{
    max-width: 100%;
    padding: 0 10px;
  }
}

.header{
  position: fixed;
  width: 100%;
  padding: 10px 0;
  background-color: #2D1935;
}

.logo h1{
  font-family: Arial, Helvetica, sans-serif;
  color: #A76EB2;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul{
  list-style: none;
  @include mobi{
    position: fixed;
    top: 55px;
    left: -100%;
    background-color: #2D1935;
    width: 70%;
    height: 100vh;
    text-align: center;
    transition: .3s;
  }
}

.menu li{
  display: inline-block;
  @include mobi{
    display: block;
    padding: 10px;
  }
}
.menu a{
  text-decoration: none;
  color: #A76EB2;
  font-family: 'Open Sans', sans-serif;;
  padding: 10px 15px;
  position: relative;
  @include mobi{
    padding: 10px;
  }
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    left: 0;
    width: 3px;
    height: 0;
    background-color: currentColor;
    transition: all .3s ease;
  }
  &:hover::after{
    height: 100%;
  }
}

.label-mobi{
  display: none;
  @include mobi{
    margin-right: 10px;
    display: block;
  }
}

.barra{
  width: 20px;
  height: 4px;
  background-color: wheat;
  transition: .3s;
}

.menu-mobi{
  position: relative;
  &::before, &::after{
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    background-color: wheat;
    transition: .3s;
  }
  &::before{
    top: -7px;
  }
  &::after{
    bottom: -7px;
  }
}
#check{
  display: none;
  &:checked ~ .label-mobi .menu-mobi .barra{
    transform: translateX(-20px);
    opacity: 0;
  }
  &:checked ~ .label-mobi .menu-mobi::before{
    top: 0;
    transform: rotate(45deg);
  }
  &:checked ~ .label-mobi .menu-mobi::after{
    bottom: 0;
    transform: rotate(315deg);
  }
  &:checked ~ ul{
    left: 0;
  }
}
