* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 700px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}

.header {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  background-color: #2D1935;
  z-index: 100;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu ul {
  list-style: none;
}

@media only screen and (max-width: 700px) {
  .menu ul {
    position: fixed;
    top: 55px;
    left: -100%;
    background-color: #2D1935;
    width: 70%;
    height: 100vh;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.menu li {
  display: inline-block;
}

@media only screen and (max-width: 700px) {
  .menu li {
    display: block;
    padding: 20px 0;
  }
}

.menu a {
  text-decoration: none;
  color: #A76EB2;
  font-family: "Open Sans", sans-serif;
  padding: 10px 15px;
  position: relative;
}

@media only screen and (max-width: 700px) {
  .menu a {
    padding: 20px 50px;
  }
}

.menu a::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  left: 0;
  width: 3px;
  height: 0;
  background-color: currentColor;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.menu a:hover::after {
  height: 100%;
}

.label-mobi {
  display: none;
}

@media only screen and (max-width: 700px) {
  .label-mobi {
    margin-right: 10px;
    display: block;
  }
}

.barra {
  width: 20px;
  height: 4px;
  background-color: #A76EB2;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-mobi {
  position: relative;
}

.menu-mobi::before, .menu-mobi::after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 4px;
  background-color: #A76EB2;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-mobi::before {
  top: -10px;
}

.menu-mobi::after {
  bottom: -10px;
}

#check {
  display: none;
}

#check:checked ~ .label-mobi .menu-mobi .barra {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

#check:checked ~ .label-mobi .menu-mobi::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#check:checked ~ .label-mobi .menu-mobi::after {
  bottom: 0;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

#check:checked ~ ul {
  left: 0;
}

.intro {
  padding: 170px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/final/bg-intro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #F9F8F8;
  position: relative;
}

.intro-conteudo h1 {
  font-family: "Oleo Script", cursive;
  font-size: 4.5em;
}

.intro-conteudo h1::after {
  content: '';
  display: block;
  width: 50px;
  height: 5px;
  margin: 0 auto;
  background-color: currentColor;
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .intro-conteudo h1 {
    font-size: 2.5em;
  }
}

.intro-conteudo p {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

@media only screen and (max-width: 700px) {
  .intro-conteudo p {
    font-size: 1em;
    padding: 0 10px;
  }
}

.btn {
  padding: 10px 50px;
  border: 3px solid #2D1935;
  background-color: transparent;
  margin-top: 50px;
  color: #F9F8F8;
  font-family: "Oleo Script", cursive;
  text-decoration: none;
  font-size: 1.25em;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn:hover {
  background-color: #2D1935;
}

@media only screen and (max-width: 700px) {
  .btn {
    font-size: 1em;
  }
}

.intro-horario {
  position: absolute;
  bottom: 10px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.125em;
}

@media only screen and (max-width: 700px) {
  .intro-horario {
    font-size: 0.875em;
  }
}
